body {
    background-color: black;
    margin: 20px;
    padding: 20px;
    pad: 20px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: end;
    border-bottom-right-radius: 10px solid green;
}    
.carouselExampleFade {
    display: flex;
    justify-content: center;
}
.container-fluid {
    border: 10px solid greenyellow;
}
section {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
section p {
    font-size: 18px;
}
footer {
    display: flex;
    justify-content: center;
}
.comunication-map {
    margin-left: 5px;
}
.comunication-item {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5px;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.contenedorv {
    display: flex;
    justify-content: center;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}